<h3>Adicionar Curso</h3>
<form action="/curso/add" method="post">
    <br>
    <div class="form-group">
        <label for="nome">Curso</label>
        <input type="text" name="nome" id="nome" class="form-control" required placeholder="Digite o nome do Curso">
        <div class="float-end">
            <button type="submit" class="btn btn-primary mt-1 mb-3">Add</button>
        </div>
        <br>
    </div>
</form>