<h1 class="text-center">Sobre o EPA</h1>
<br>
<div class="text-center">
    <p>
        Nossa equipe está trabalhando no cronometro de xadrez, normalmente utilizado em partidas de xadrez oficiais.<br>
        Ele conta 600 segundos (10 minutos) para cada jogador, e quando o tempo de um jogador acaba, o outro jogador vence a partida.<br>
        Para evitar isso os jogadores podem clicar no botão para o tempo parar de contar, e o tempo do outro jogador começar a contar.<br>
    </p>
</div>